<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

    {% if page.profile %}
      {% include profile.html %}
    {% endif %}

    <section id="wrapper"{% if page.profile %} class="home"{% endif %} {% if page.gallery %} class="gallery"{% endif %}>
      {{ content }}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{ "/assets/js/lazysizes.min.js" | prepend: site.baseurl }}" async=""></script>
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/highlight.js" | prepend: site.baseurl }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
